*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100vh;
    background:#333;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player{
    background:hsla(126, 68%, 75%, 0.911);
    width:380px;
    padding:25px 35px;
    text-align: center;
    border-radius:20px;
}

nav{
    display:flex;
    justify-content: space-between;
    margin-bottom:30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height:40px;
    line-height: 40px;
    background:#fff;
    color:#03232f;
    box-shadow: 0 5px 10px rgb(41, 102, 36)
    
   
}

nav .circle:hover {
  background:white;
  transform: translateY(-5px);
   cursor: pointer;
   transition:  0.4s ease-out, background 0.5s ease;
   transform: scale(1.1) translateY(-3px);
}
.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255,26,26,0.22);
}
.music-player h1{
    font-size: 25px;
    font-weight: 400;
    color:#333;
    margin-top: 20px;
    letter-spacing:2px;
    font-style: bold;
}
.music-player p{
    font-size: 14px;
    color:#333;
    letter-spacing: 5px;

}

#musics{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #0d461e;
    border-radius:5px;
    cursor: pointer;
    margin: 50px 0;
}

#musics::-webkit-slider-thumb{
    -webkit-appearance: none;
    background:#1d613f;
    width:30px;
    height:30px;
    border-radius:50%;
    border: 8px solid white;
    box-shadow: 0 5px 5px rgba(42, 82, 15, 0.22);
}

.controls{
    display:flex;
    justify-content: center;
    align-items:center; 
}

.controls div{
    width:60px;
    height: 60px;
    margin: 20px;
    background: white;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    color:#1d613f;
    box-shadow: 0 5px 5px rgba(42, 82, 15, 0.22);
    cursor: pointer;

}

.controls div:nth-child(2){
    transform: scale(1.5);
    background:#1d613f;
    color:white;
}



